root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2
insert_final_newline = false

[*.sh]
indent_size = 4
tab_width = 4
max_line_length = 120
insert_final_newline = true

[*.adoc]
max_line_length = 120
insert_final_newline = true

[*.xml]
max_line_length = 4096

[*.{yml,yaml}]

[*.json]

[*.proto]
max_line_length = 80

[*.java]
indent_size = 4
tab_width = 4
max_line_length = 120
