name: Java CI

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17', '21' ]
    name: Java ${{ matrix.java }} build
    steps:
    - uses: actions/checkout@v4
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Install artifact locally
      run: mvn -B install -DskipTests --file pom.xml
    - name: Checkout sample projects
      uses: actions/checkout@v4
      with:
        repository: ulisesbocchio/jasypt-spring-boot-samples
        path: jasypt-spring-boot-samples
        ref: master
        token: ${{ secrets.CHECKOUT_PAT }}
    - name: Test sample projects
      run: mvn -B test --file jasypt-spring-boot-samples/pom.xml -Djasypt.spring.boot.version=$(mvn --file pom.xml help:evaluate -Dexpression=project.version -q -DforceStdout)
